#include <Windows.h>
#include "headerres.h"
#define ID_USERINPUT        1001
#define DATAENTRY           1004

DATAENTRY DIALOG DISCARDABLE 0,0,300,150
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_OVERLAPPEDWINDOW
CAPTION "DATAENTRY"

BEGIN
    LTEXT "Enter Number To Add to Tree:",-1,75,55,150,10
    EDITTEXT ID_USERINPUT,75,65,150,10,WS_TABSTOP|ES_NUMBER
    PUSHBUTTON "Add",IDOK,140,115,25,10
    PUSHBUTTON "Cancel",IDCANCEL,230,115,30,10
END

SEARCH_NODE_DLG DIALOG DISCARDABLE 0,0,300,150
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_OVERLAPPEDWINDOW
CAPTION "SEARCH_NODE"

BEGIN
    LTEXT "Enter Number To Search from Tree:",-1,75,55,150,10
    EDITTEXT ID_USERINPUT,75,65,150,10,WS_TABSTOP|ES_NUMBER
    PUSHBUTTON "Search",ID_DLG_SEARCH,140,115,40,10
    PUSHBUTTON "Cancel",IDCANCEL,230,115,30,10
END

DELETE_NODE_DLG DIALOG DISCARDABLE 0,0,300,150
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_OVERLAPPEDWINDOW
CAPTION "DELETE_NODE"

BEGIN
    LTEXT "Enter Number To Delete from Tree:",-1,75,55,150,10
    EDITTEXT ID_USERINPUT,75,65,150,10,WS_TABSTOP|ES_NUMBER
    PUSHBUTTON "Delete",ID_DLG_DELETE,140,115,40,10
    PUSHBUTTON "Cancel",IDCANCEL,230,115,30,10
END
